nav.navbar {
  background-color: #444;
  box-shadow: #00000026 2.4px 2.4px 3.2px;
}
.navbar-brand {
  font-family: "Montserrat-SemiBold";
  font-size: 17px;
  color: #fff;
  background-color: #dd0031;
  padding: 5px 15px 5px;
  border-radius: 0.25rem;
  display: inline-block;
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: #fff;
}
button#dropdown-basic {
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  font-family: "Montserrat-SemiBold";
  border: 0;
}
.nav-link {
  position: relative;
  color: #fff;
  font-size: 13px;
}
.nav-link:focus,
.nav-link:hover {
  color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}
.dropdown-menu {
  padding-bottom: 0;
  border: 0;
  border-radius: 0;
  background-color: #444;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.dropdown-item {
  font-size: 13px;
  color: #fff;
  border-bottom: 0.1px solid #616161;
}
.dropdown-item:last-child {
  border-bottom: 0;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
button.sidebar-btn {
  background-color: transparent;
  border: 0;
}
button.sidebar-btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
button.sidebar-btn:focus-visible {
  box-shadow: none;
}
.btn-check:checked + button.sidebar-btn,
.button.sidebar-btn.active,
button.sidebar-btn.show,
button.sidebar-btn:first-child:active,
:not(.btn-check) + button.sidebar-btn:active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.offcanvas.offcanvas-start {
  width: 250px !important;
  height: 100%;
  bottom: 0;
  top: inherit;
}
/* .offcanvas-backdrop {
  display: none;
} */
.offcanvas-header {
  background-color: #444;
  padding: 10px 10px;
}
.offcanvas-body {
  background-color: #f6f7fb;
}
.offcanvas-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.offcanvas-body ul li {
  margin-bottom: 0px;
}
.offcanvas-body ul li a {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  font-family: "Montserrat-Medium";
  color: #111;
}
.offcanvas-body ul li a.active {
  background-color: #444444;
  color: #fff;
}
button.btn-close {
  --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23dd0031%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e);
  background: transparent var(--bs-btn-close-bg) center/0.8em auto no-repeat;
  opacity: 1;
}
.btn-close:hover {
  color: initial;
  text-decoration: none;
  opacity: 1;
}
.breadcrumb {
  margin: 10px 0;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 0.25rem;
}

.breadcrumb-item {
  font-size: 13px;
  font-family: "Montserrat-Medium";
}

.breadcrumb-item.active {
  color: #dd0031;
}

.breadcrumb-item a {
  font-size: 13px;
  color: #111;
  font-family: "Montserrat-Medium";
  text-decoration: none;
}

/* employee css */
.content-head-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 15px;
}
.heading-col h1 {
  font-size: 17px;
  font-family: "Montserrat-SemiBold";
  margin-bottom: 0;
}
.action-col button {
  border: 0;
  outline: 0;
  background-color: #dd0031;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-family: "Montserrat-Medium";
  padding: 5px 10px;
  border-radius: 0.25rem;
}
.contant-wrap {
  padding: 15px;
  background-color: #fff;
  border-radius: 0.25px;
}
.employee-content table thead tr th {
  background-color: #444;
  color: #fff;
  font-size: 13px;
  font-family: "Montserrat-SemiBold";
  font-weight: 400;
}

.employee-content table tbody tr td {
  background-color: #fff;
  color: #111;
  font-size: 13px;
  font-family: "Montserrat-Medium";
  font-weight: 400;
}

.employee-content table tbody tr td .emp-name {
  width: 100%;
  display: inline-block;
  height: 100%;
  text-decoration: none;
  color: #111;
}

form {
  background-color: #fff;
  padding: 15px;
  border-radius: 0.25rem;
}

form input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form .btn-sm {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 13px;
  padding: 5px 15px;
  background-color: #dd0031;
  color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  margin-left: 15px;
}

form label.d-block {
  font-size: 13px;
  font-family: "Montserrat-SemiBold";
  margin-bottom: 5px;
}

.emp-name {
  text-decoration: none;
  color: #111;
}

.prof-box {
  display: flex;
  align-items: center;
}

.prof-img {
  width: 50px;
  height: 50px;
}

.prof-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-box {
  margin-left: 5px;
}

.user-box h2 {
  font-size: 16px;
  font-family: "Montserrat-SemiBold";
  margin-bottom: 0;
}

.user-box p {
  font-size: 13px;
  margin: 0;
  font-family: "Montserrat-Medium";
}

.edit-btn {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  padding: 5px 15px;
  background-color: #dd0031;
  color: #fff;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  margin-left: 15px;
}

.more-btn {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  padding: 5px 15px;
  background-color: #fff;
  color: #dd0031;
  border-radius: 3px;
  border: 1px solid #dd0031;
  transition: all 0.3s ease;
  margin-left: 15px;
}
.details-wrap {
  background-color: #fff;
  padding: 15px;
  border-radius: 0.25rem;
}

.details-wrap .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

table.cont_details_table {
  margin-bottom: 25px;
}
table.cont_details_table tr td {
  position: relative;
  line-height: 1;
  padding: 14px 12px 12px;
}
table.cont_details_table .cont_theading {
  background-color: #f6f7fb;
  min-width: 200px;
  width: 200px;
  color: #66707e;
}
table.cont_details_table .cont_tdata {
  padding-left: 15px;
  color: #66707e;
}
@media (max-width: 767px) {
  table.cont_details_table .cont_tdata {
    min-width: 350px;
  }
}
table.cont_details_table .cont_tdata p {
  margin-bottom: 0;
  width: calc(100% - 36px);
  overflow: hidden;
}
table.cont_details_table .cont_tdata .editable-input {
  border: none;
  width: calc(100% - 36px);
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  font-family: "CircularStdBook-Medium";
}
table.cont_details_table .cont_tdata .edit_icon {
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  padding: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease;
}
table.cont_details_table .cont_tdata .edit_icon:hover {
  color: #f58220;
  scale: 1.1;
}
@media (max-width: 767px) {
  table.cont_details_table .cont_tdata .edit_icon {
    display: block;
  }
}
table.cont_details_table .cont_tdata:hover .edit_icon {
  display: block;
}
table.cont_details_table .cont_more_btn a {
  color: #2e2e2e;
  padding: 8px 10px;
  border: 1.5px solid #dfdfdf;
  border-radius: 3px;
  margin: 15px 0;
  display: inline-block;
  font-size: 14px;
  transition: all 0.3s ease;
  font-family: "CircularStdBook-Medium";
}
table.cont_details_table .cont_more_btn a:hover {
  background-color: #edeffa;
  color: #1f2026;
  border-color: #edeffa;
}
table.cont_details_table .cont_upd_dt .sts_upd {
  display: flex;
  flex-direction: column;
  height: 65px;
  justify-content: center;
  align-items: flex-end;
}
table.cont_details_table .cont_upd_dt .sts_upd span {
  font-size: 13px;
  color: #66707e;
  font-family: "CircularStdBook-Medium";
}
table.cont_details_table .cont_upd_dt .sts_upd span:first-child {
  margin-bottom: 10px;
}
